Repository Seirdy/clogstats: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, isort, black, flakehell, mypy, pytest

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: poetry-check
        name: poetry-check
        entry: poetry check
        language: system
        files: ^pyproject\.toml$
        pass_filenames: false

      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: [python]

      - id: black
        name: black
        entry: poetry run black .
        language: system
        types: [python]

      - id: flakehell
        name: flakehell
        entry: poetry run flakehell lint
        language: system
        types: [python]

      - id: mypy
        name: mypy
        entry: poetry run mypy .
        language: system
        types: [python]
        pass_filenames: false

      - id: pytest
        name: pytest
        entry: poetry run pytest
        language: system
        types: [python]
        pass_filenames: false

Use wemake-python-styleguide
  clogstats/cli.py
  clogstats/gather_stats.py
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/test_gather_stats.py
Due: poetry-check, isort, black, flakehell, mypy, pytest

Simplify cli.py logic
  clogstats/cli.py
Due: isort, black, flakehell, mypy, pytest

Allow extracting stats from a pre-parsed dataframe
  clogstats/gather_stats.py
  clogstats/parse.py
Due: isort, black, flakehell, mypy, pytest

Generate time-series data
  clogstats/gather_stats.py
  clogstats/time_series.py
Due: isort, black, flakehell, mypy, pytest

Linter compliance
  clogstats/gather_stats.py
  clogstats/time_series.py
  pyproject.toml
  tests/conftest.py
Due: poetry-check, isort, black, flakehell, mypy, pytest

Add plotting functions for matplotlib
  clogstats/plot.py
Due: isort, black, flakehell, mypy, pytest

Refactor: prep for forecasting
  clogstats/cli.py
  clogstats/stats/__init__.py
  clogstats/stats/gather_stats.py
  clogstats/stats/parse.py
  clogstats/stats/plot.py
  clogstats/stats/time_series.py
  poetry.lock
  pyproject.toml
Due: poetry-check, isort, black, flakehell, mypy, pytest

Initial Holt-Winters implementation
  clogstats/forecasting/holt_winters.py
  clogstats/stats/time_series.py
  pyproject.toml
Due: poetry-check, isort, black, flakehell, mypy, pytest

Parallelize parsing logs
  clogstats/stats/gather_stats.py
Due: isort, black, flakehell, mypy, pytest

Tests: fix import path
  tests/conftest.py
  tests/test_gather_stats.py
Due: isort, black, flakehell, mypy, pytest

Refactor: clean up style, WPS compliance
  clogstats/cli.py
  clogstats/forecasting/holt_winters.py
  clogstats/stats/gather_stats.py
  clogstats/stats/time_series.py
  pyproject.toml
Due: poetry-check, isort, black, flakehell, mypy, pytest

Fix: topwords counter no longer mangled by asdict
  clogstats/stats/time_series.py
Due: isort, black, flakehell, mypy, pytest

Make cli.py support __main__
  clogstats/cli.py
Due: isort, black, flakehell, mypy, pytest

Remove plotting functionality
  clogstats/stats/plot.py
  poetry.lock
  pyproject.toml
Due: poetry-check, isort, black, flakehell, mypy, pytest

More linting
  .pre-commit-config.yaml
  clogstats/cli.py
  poetry.lock
  pyproject.toml
Due: poetry-check, isort, black, flakehell, mypy, pytest

Refactor: move DateRange to gather_stats
  clogstats/cli.py
  clogstats/stats/gather_stats.py
  clogstats/stats/parse.py
  clogstats/stats/time_series.py
  tests/conftest.py
Due: isort, black, flakehell, mypy, pytest

Update deps: virtualenv
  poetry.lock
  pyproject.toml
Due: poetry-check

Add a big sample log file for timeseries testing
  .pre-commit-config.yaml
  tests/sample_logs/irc.freenode.#go-nuts_big.weechatlog
  tests/test_gather_stats.py
Due: isort, black, flakehell, mypy, pytest

Fix type annotation for optional type
  clogstats/cli.py
Due: isort, black, flakehell, mypy, pytest

Performance: don't parallelize analyzing logs
  clogstats/stats/gather_stats.py
Due: isort, black, flakehell, mypy, pytest

Feat: use darts for forecasting
  README.md
  clogstats/forecasting/holt_winters.py
  clogstats/forecasting/ts_utils.py
  clogstats/stats/time_series.py
  poetry.lock
  pyproject.toml
Due: poetry-check, isort, black, flakehell, mypy, pytest

Minor: use numpy arrays for addition
  clogstats/stats/time_series.py
Due: isort, black, flakehell, mypy, pytest

Add tests for naive time-series impl
  tests/conftest.py
  tests/sample_logs/irc.freenode.#go-nuts_big.weechatlog
  tests/sample_logs/irc.freenode.#node.js_big.weechatlog
  tests/test_gather_stats.py
  tests/test_time_series.py
Due: isort, black, flakehell, mypy, pytest

Minor: fix type annotation
  clogstats/cli.py
Due: isort, black, flakehell, mypy, pytest

Add preliminary ARIMA-based forecast
  clogstats/forecasting/arima.py
  clogstats/forecasting/holt_winters.py
Due: isort, black, flakehell, mypy, pytest

Update pyproject.toml + deps
  poetry.lock
  pyproject.toml
Due: poetry-check

Forecasting: add auto-ARIMA and model evaluation
  clogstats/forecasting/arima.py
  clogstats/forecasting/ts_utils.py
Due: isort, black, flakehell, mypy, pytest

New pre-commit hook
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: poetry-check

Fix: specify keyword-only args
  clogstats/forecasting/ts_utils.py
Due: isort, black, flakehell, mypy, pytest

Formatting + yesqa
  .pre-commit-config.yaml
  clogstats/cli.py
  clogstats/forecasting/arima.py
  clogstats/forecasting/holt_winters.py
  clogstats/stats/gather_stats.py
  clogstats/stats/parse.py
Due: isort, black, flakehell, mypy, pytest

Fix: add+typecheck missed files to package
  .pre-commit-config.yaml
  clogstats/forecasting/__init__.py
  clogstats/forecasting/arima.py
  clogstats/forecasting/ts_utils.py
  clogstats/stats/gather_stats.py
  clogstats/stats/parse.py
  clogstats/stats/time_series.py
  poetry.lock
  pyproject.toml
Due: poetry-check, isort, black, flakehell, mypy, pytest

Update deps
  poetry.lock
Due: none

Feat: pass unpacked kwargs to ExponentialSmoothing
  clogstats/forecasting/holt_winters.py
Due: isort, black, flakehell, mypy, pytest

Feat: transformation to avoid negative forecasts
  clogstats/forecasting/ts_utils.py
  poetry.lock
  pyproject.toml
Due: poetry-check, isort, black, flakehell, mypy, pytest

Doc: update README with forecasting info
  README.md
Due: none

Fix: move expression out of loop
  clogstats/cli.py
Due: isort, black, flakehell, mypy, pytest

Fix: make extra forecasting args keyword-only
  clogstats/forecasting/arima.py
  clogstats/forecasting/holt_winters.py
Due: isort, black, flakehell, mypy, pytest

Linting: increase max args to 6
  clogstats/forecasting/arima.py
  clogstats/forecasting/holt_winters.py
  clogstats/stats/time_series.py
  pyproject.toml
Due: poetry-check, isort, black, flakehell, mypy, pytest

Update deps
  poetry.lock
  pyproject.toml
Due: poetry-check

Docs: Readme: update screenshot
  README.md
  clogstats/forecasting/ts_utils.py
Due: isort, black, flakehell, mypy, pytest
